<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="images/dancing.png" type=" image/png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>ЦОПЭТ Форма новостей</title>
</head>

<body>
<form th:action="@{/newsList/add}" th:object="${news}" method="post">
    <input type="text" th:field="*{id}" hidden />

    <label for="name">Заголовок</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Новость" required/>
    <br />
<!--    <label for="newsName">Дата (гггг-мм-дд)</label>-->
<!--    <input type="date" id="date" th:field="*{date}">-->

    <label for="name">Изображение</label>
    <input type="text" id="image" th:field="*{image}" placeholder="s1.jpg"/>
    <br />
    <label for="name">Текст новости</label>
    <input type="text" id="text" placeholder="Введите текст">
    <br />
    <input type="submit" value="Сохранить">
</form>


</body>
</html>