<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="images/dancing.png" type=" image/png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>ЦОПЭТ "Высокий стиль"</title>
</head>

<body>
<form th:action="@{/newsList/add}"
      th:object="${product}"
      method="post"
>
    <input type="text" th:field="*{id}" hidden />
    <label for="newsName">Заголовок</label>
    <input
            type="text"
            id="productName"
            th:field="*{name}"
            required
    />

    <label for="newsName">Дата</label>

    <label for="newsName">Изображение(s1.jpg)</label>
    <input
            type="text"
            class="form-control"
            id="image"
            th:field="*{image}"
            required
    />
</form>
</body>
</html>